.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 70%;
}

.divider {
  width: 70%;
}

@media (max-width: 768px) {
  .form-container {
    width: 100%;
  }

  .divider {
    width: 100%;
  }
}
