.record-wrapper {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  text-align: left;
  padding: 0.3em 1em;
  margin-bottom: 0.7em;
  letter-spacing: 1px;
  width: 100%;
  font-size: 0.8em;
}

.header-wrapper {
  width: 70vw !important;
}

.list-heading {
  font-size: 0.5em;
  font-weight: 500;
  margin-bottom: 1em;
  text-align: left;
}

@media (max-width: 768px) {
  .record-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .header-wrapper {
    width: 90vw;
  }
}
