* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-image: url("../assets/img/africa-1.jpeg")
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-repeat: no-repeat;
  background-size: cover;
}
